  <footer>
    <hr>
    <div id="footertext">
      CST 366 Internet Programming. 2023&copy; Hurtado <br>
      <strong>Disclaimer:</strong>This webpage is for educational purposes only. <br>
    </div>
  </footer>
