<div id="navigation">
  <a href="/"> Home </a>      
  <a href="/earth"> Earth </a>
  <a href="/mars"> Mars </a>
  <a href="/jupiter"> Jupiter </a>
  <a href="/venus"> Venus </a>
  <a href="/pluto"> Pluto </a>
 </div> 