<%- include('partials/header.ejs') %>

 
  
    <h1>The Solar System</h1>

   <br>
      <img src="/images/solarSystem.jpg" alt="Image of the Solar System">
      <br>
  <br>
    <a href="/earth"> Earth </a>
  <br>
  <br>
    <a href="/mars"> Mars </a>
  <br>
  <br>
    <a href="/jupiter"> Jupiter </a>
  <br>
  <br>
    <a href="/venus"> Venus </a>
  <br>
  <br>
    <a href="/pluto"> Pluto </a>
  <br>
  <br>

  <%- include('partials/footer.ejs') %>
</body>
</html>