<!DOCTYPE html>
<%- include('partials/header.ejs') %>
<html>
<head>
  <meta charset="utf-8">
  <title>Solar System</title>
</head>
<body>
    <h1>Planet Jupiter</h1>
     <%- include('partials/nav.ejs') %>
      <br>
      <img src="/images/jupiter.jpeg" alt="Image of Planet Jupiter">
      <br>
      <p>
        Jupiter is the fifth planet from the sun.  It is the largest planet in the solar system by far, and is named after the king of the ancient Roman gods.  It is twice the mass of all of the other planets in our solar system combined.  Jupiter is a gas giant.  It consists of swirling gasses and liquids, and does not have a true surface.  Its swirls are cold clouds of water and ammonia in its atmosphere of hydrogen and helium.       
      </p>
      <ul class="footnotes">
        References:      
        <li><a href="https://solarsystem.nasa.gov/planets/mars/in-depth/">In Depth | Jupiter</a></li>
      </ul>
    <%- include('partials/footer.ejs') %>
</body>
</html>