<!DOCTYPE html>
<%- include('partials/header.ejs') %>
<html>
<head>
  <meta charset="utf-8">
  <title>Solar System</title>
</head>
<body>
    <h1>Planet Mars</h1>
  <%- include('partials/nav.ejs') %>
                <br>
          <img src="/images/mars.jpeg" alt="Image of Planet Mars">
      <br>
      <p>
Mars is the fourth planet from the sun.  It is rocky and dry.  It was named after the Roman god of war due to its color and texture resembling blood.  It is made up of iron, nickel, sulfur, magnesium, aluminum, and potassium.  It contains Olympus Mons, the largest volcano in the solar system.  This volcano’s base is three times the size of New Mexico, and it is three times as tall as Mount Everest.
      </p>
    
     <ul class="footnotes">
        References:
        <li><a href="https://solarsystem.nasa.gov/planets/mars/in-depth/">In Depth | Mars</a></li>
      </ul>
    <%- include('partials/footer.ejs') %>
</body>
</html>