<!DOCTYPE html>
<%- include('partials/header.ejs') %>
<html>
<head>
  <meta charset="utf-8">
  <title>Solar System</title>
</head>
<body>
    <h1>PLUTO!!!</h1>
  
    <%- include('partials/nav.ejs') %>
  <br>
   <img src="/images/pluto.jpg" alt="Image of Planet Pluto">
      <br>
      <p>
        In my day, we had nine planets.  The smallest of which was Pluto.  Pluto was discovered in 1930 and was named by 11-year old Venetia Burney from Oxford, England.  She suggested the name to her grandparents at breakfast on March 14, 1930.  The Disney&copy character Pluto first appeared under that name on May 3, 1930. In 2006, due to an new official definition of the word "planet,"  the planet Pluto was stripped of its title and now floats out in the edge of our Solar System, sometimes switching places with Neptune.  Cold and alone. The character Pluto has lived a curiously long life for dog and can still be found at Mickey's side. 
      </p>
      <ul class="footnotes">
         References:
        <li><a href="https://solarsystem.nasa.gov/planets/dwarf-planets/pluto/overview/">Overview | Pluto</a></li>
        <li><a href="https://solarsystem.nasa.gov/people/2902/venetia-burney-phair-1918-2009/">Venetia Burney Phair (1918-2009) | The Girl Who Named Pluto</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Pluto_(Disney)">Pluto (Disney)</a></li>
      </ul>

    <%- include('partials/footer.ejs') %>
</body>
</html>

  