<!DOCTYPE html>
<%- include('partials/header.ejs') %>
<html>
<head>
  <meta charset="utf-8">
  <title>Solar System</title>
</head>
<body>
    <h1>Planet Venus</h1>
     <%- include('partials/nav.ejs') %>
       <br>
          <img src="/images/venus.jpeg" alt="Image of Planet Venus">
      <br>
      <p>
        Venus is the second planet from the sun in our solar system.  It is named after thelove goddess.  It is the closest planet to the sun, but it is very different.  Its surface is hot enough to melt lead, and its atmosphere is thick.  It spins in the opposite direction as earth, and its year is actually shorter than its day.  It may have once held water and been habitable, but its greenhouse effect turned its water into vapoor and then it leaked into space.  Venus may be a cautionary tale for earth's future.
      </p>
    
      <ul class="footnotes">
        References:
        <li><a href="https://solarsystem.nasa.gov/planets/venus/in-depth/">In Depth | Venus</a></li>
      </ul>
    
       
    <%- include('partials/footer.ejs') %>
</body>
</html>